<div class="container mt-4">
  <div class="card rounded-4 shadow">
    <div class="card-header bg-primary text-white rounded-top-4">
      <h2>Detalhes da Assinatura</h2>
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= @subscription.customer.name %></h5>
      <% if @subscription.plan.present? %>
        <p class="card-text"><strong>Plano: </strong><%= @subscription.plan.name %> <%= @subscription.plan.value %></p>
      <%end%>

      <% if @subscription.package.present? %>
        <p class="card-text"><strong>Pacote: </strong><%= @subscription.package.name %> <%= @subscription.package.value %></p>
      <%end%>

      <p class="card-text"><strong>Valor: </strong> <%= @subscription.value %></p>
    </div>

    <div class="card-footer text-end">
      <%= link_to 'Voltar', subscriptions_path, class: 'btn btn-outline-secondary' %>
      <%= link_to 'Editar', edit_subscription_path(@subscription), class: 'btn btn-primary' %>
      <%= link_to 'Carnê', subscription_booklet_path(@subscription), class: 'btn btn-primary' %>    
    </div>
  </div>
</div>
